i.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
i.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
i.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.title-line {
  color: #ff8325;
  width: 100%;
  margin-bottom: 1.5rem;
  border: solid 3px #ff8325;
  background-color: #ff8325;
  box-sizing: border-box;
}
